configs/xr30/resource/99-default-settings-chinese.20250906-200025.bak
configs/xr30/resource/feeds.conf.default.20250906-200025.bak
scripts/backup/backup.o
scripts/customize/customize.o
scripts/backup/backup
scripts/customize/customize
scripts/customize/rules.o
scripts/feeds/feeds
scripts/feeds/feeds.o
scripts/init-target/init-target.o
scripts/menu/menu
scripts/init-target/init-target
scripts/pm-install/pm-install
scripts/pm-install/pm-install.o
scripts/utils/libutils.a
scripts/utils/utils.o
.selected_target
configs/**/resource

scripts/copy/copy
scripts/copy/copy.o
scripts/init-target/source.o

configs/**
!configs/def
!configs/def/**
srcs/** 
