# 格式说明
# src-git <名称> <仓库URL>;<分支> <下载路径>
# src-git luci-app-wrtbwmon https://github.com/brvphoenix/luci-app-wrtbwmon.git; packages/luci-app-wrtbwmon
# src-git lede https://github.com/kcro227/lede.git; src 
# src-git luci-wrtbwmon https://github.com/Kiougar/luci-wrtbwmon.git; packages/luci-wrtbwmon
# src-git wrtbwmon https://github.com/pyrovski/wrtbwmon.git; packages/wrtbwmon

src-git wechatpush https://github.com/tty228/luci-app-wechatpush.git; packages/luci-app-wechatpush
src-git sirpdboy-package https://github.com/sirpdboy/sirpdboy-package.git; packages/sirpdboy-package
src-git qmodem https://github.com/1967937965/qwrt-.git; packages/qmodem
src-git openclash https://github.com/luufox/luci-app-OpenClash.git; packages/luci-app-openclash