# 格式说明
# src-git <名称> <仓库URL>;<分支> <下载路径>
src-git lede https://github.com/kcro227/lede; src
#### 按照格式添加自己的包 

src-git iStore https://github.com/linkease/istore.git;main packages/luci-app-store
# src-git luci-app-alist https://github.com/sbwml/luci-app-alist.git;lua packages/alist
# src-git luci-app-wrtbwmon https://github.com/brvphoenix/luci-app-wrtbwmon.git; packages/luci-app-wrtbwmon
# src-git sirpdboy-package https://github.com/sirpdboy/sirpdboy-package.git; packages/sirpdboy-package
# src-git luci-wrtbwmon https://github.com/Kiougar/luci-wrtbwmon.git; packages/luci-wrtbwmon
# src-git wechatpush https://github.com/tty228/luci-app-wechatpush.git; packages/luci-app-wechatpush

src-git qmodem https://github.com/FUjr/QModem.git;main packages/qmodem
src-git openclash https://github.com/vernesong/OpenClash.git;dev packages/luci-app-openclash
# src-git wrtbwmon https://github.com/pyrovski/wrtbwmon.git; packages/wrtbwmon
src-git fancontrol https://github.com/rockjake/luci-app-fancontrol.git;main packages/fancontrol
# src-git fan  https://github.com/Wanzi-z/luci-app-fan.git; packages/fan
src-git nas https://github.com/linkease/nas-packages.git; packages/nas
src-git nas_luci https://github.com/linkease/nas-packages-luci;main packages/nas_luci