# <package-name> <src-path> 将<package-name>文件夹复制到<src-path>下的package/own文件夹下
# luci-app-wrtbwmon src
qmodem src
luci-app-openclash src
luci-app-store src
# alist src
# natfrp src
# sirpdboy-package/wrtbwmon src
# luci-app-wechatpush src
# luci-wrtbwmon src
# wrtbwmon src
# fancontrol src
# nas/network/services/quickstart src
# nas_luci/luci/luci-app-quickstart src